.meal-search {
    height: 30px;
    background-color: aqua;
    margin-bottom: 30px;
    margin-top: 5px;
}

.meal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: antiquewhite;


}